<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartelera</title>
  <link rel="stylesheet" href="/css/cartelera.css">
  <link rel="icon" href="../images/icons/favicon-32x32.png" type="image/png">
</head>
<body>
  <main class="cartelera-wrapper">
    <h1 class="titulo-cartelera">Cartelera</h1>
    <div class="movies-container"></div>
  </main>

  <script src="../js/cartelera.js"></script>
</body>
</html>
