<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión Trabajador</title>
  <link rel="stylesheet" href="/css/sign-in.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="../images/icons/favicon-32x32.png" type="image/png">
</head>
<body>
  <main>
    <section class="form-container">
      <h1>INICIO DE SESIÓN</h1>
      <hr>
      <form id="loginForm">
        <input type="text" id="trabajadorId" name="id" placeholder="ID o CURP del trabajador" required>
      
        <div class="password-container">
          <input class="eye-password" type="password" id="password" name="contraseña" placeholder="Contraseña" required>
          <i id="toggle-password" class="fas fa-eye"></i>
        </div>
      
        <div id="mensaje"></div>
      
        <button type="submit">Iniciar Sesión</button>
        <button class="secondary" type="button" onclick="window.location.href='/';">Volver</button>
      </form>      
    </section>
  </main>

  <script src="/js/passwordEye.js"></script>
  <script type="module" src="/js/ingresoTrabajador.js"></script>
</body>
</html>
