<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/css/sign-in.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <main>
    <section class="form-container">
      <h1>INICIAR SESIÓN</h1>
      <hr>
      <form id="loginForm">
        <input type="email" id="email" name="correo" placeholder="Correo" required maxlength="30">
        
        <div class="password-container">
          <input class="eye-password" type="password" id="password" name="contraseña" placeholder="Contraseña" required maxlength="30">
          <i id="toggle-password" class="fas fa-eye"></i> <!-- Icono para mostrar/ocultar -->
        </div>

        <div id="mensaje"></div>

        <button type="submit">Entrar</button>
      </form>

    </section>
  </main>

  <script src="../js/passwordEye.js"></script>
  <script type="module" src="../js/ingresoCliente.js"></script>
</body>
</html>
