<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>CineMar - Bienvenido</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/css/inicio.css">
  <link rel="icon" href="../images/icons/favicon-32x32.png" type="image/png">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="../images/icons/cinemarIcono.png" alt="Logo del Cine" />
    </div>

    <div class="button-group">
      <button onclick="location.href='/cliente/iniciar-sesion'">Iniciar Sesión</button>
      <button onclick="location.href='/cliente/registro_cliente'">Crear Cuenta</button>
      <button onclick="location.href='/'">Continuar sin Crear Cuenta</button>
    </div>
  </div>
</body>
</html>
