<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Selección de Asientos</title>
  <link rel="stylesheet" href="/css/asiento.css" />
  <link rel="icon" href="../images/icons/favicon-32x32.png" type="image/png">
</head>

<body>

  <div class="container">
    <h1>Selecciona tus asientos</h1>

    <!-- Pantalla -->
    <div class="screen">Pantalla</div>

    <!-- Mapa de asientos -->
    <div id="seat-map" class="seat-map"></div>

    <!-- Resumen -->
    <div class="summary">
      <p>Asientos seleccionados: <span id="selected-count">0</span></p>
      <button id="confirm">Confirmar</button>
    </div>
  </div>

  <script src="/js/asientoTaquilla.js"></script>

</body>

</html>