/* Establecer la imagen de fondo */
/*body {
    background-image: url('/assets/images/OmarFondo.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}*/

  